@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #14141B;
    --pop-color: #FFCD38;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    background: var(--bg-primary);
    color: var(--text-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

section {
    padding: 120px 20px;
}
